@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Source+Code+Pro&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* 비밀번호 옆 아이콘을 처음엔 눈감은 아이콘만 보이게 설정*/
.login-form .int-area .eye{
  position: absolute;
  padding-top: 20px;
  cursor:pointer;
}
#hide1{
  display: none;
}
/* 비밀번호 옆 아이콘을 처음엔 눈감은 아이콘만 보이게 설정*/
.login-form .int-area .eye2{
  position: absolute;
  padding-top: 20px;
  cursor:pointer;
}
#hide3{
  display: none;
}
/* 바디부분 폰트 적용과 모든 것들 센터 정렬, 배경화면 #으로 표시 */
body{
  font-family: 'Source Code Pro', monospace;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background: url(../images/coding.jpg) no-repeat center;
  background-size:cover;
}
/* 가상선택자 before 사용으로 해당 태그 앞에 놓이게 함,배경화면 검은색 */
body::before{
  content: "";
  position:absolute; 
  z-index:1;
  top:0;    right:0;    bottom:0;   left: 0;
  background-color: rgba(0,0,0,0.6);
}
/* 로그인 폼 z-index 이용하여 수직위치 상승, position:위치 조절 가능 */
.login-form{
  position:relative;
  z-index:2;
}
/* h1 정렬 가운데,색상 초록,h1을 누르면 홈화면으로 이동 */
.login-form h1 a{
  text-decoration: none;
  color:rgba(53, 201, 102, 0.986);
}
.login-form h1{
   font-size:32px;
   text-align:center;
   margin-bottom: 60px;
}
/* 학번,비번 박스 마진을 줌 */
.int-area{
  width:400px;
  position:relative;
  margin-top:20px;
}
/* 학번부분 박스만 마진을 줌 */
.int-area:first-child{
  margin-top:20px;
}
/* 학번,비번 입력 박스 배경색 없애고 경계 바닥부분 제외하고 없앰,
비밀번호 작성 시 색:흰색 */
.int-area input{
  width:100%;
  padding:20px 10px 10px;
  background-color: transparent;
  border:none;
  border-bottom:1px solid rgba(53, 201, 102, 0.986);
  font-size:18px;
  color:white;
  outline:none;
} 
/* 학번, 비번 글씨부분, 흰색으로 지정,애니메이션 기능 사용*/
.int-area label{
  position:absolute;
  left:10px;
  top:15px;
  font-size:18px;
  color:white;
  transition: all .5s ease;
}
/* label이 warning일 경우 빨간색 글씨로 유지,애니메이션 효과 사용,
애니메이션 3번 반복 */
.int-area label.warning{
  color:red !important;
  animation: warning .3s ease;
  animation-iteration-count: 3;
}
/* @keyframes warning {
  0% { transform:translateX(-8px);}
  25% { transform:translateX(8px);}
  50% { transform:translateX(-8px);}
  75% { transform:translateX(8px);}
} */
/* 학번,비번부분 입력했을 때 password,student id 글씨가 위로 올라가면서 작아짐 */
.int-area input:focus + label,
.int-area input:valid + label{
  top:-2px;
  font-size:13px;
  color: green;
}
/* 로그인 버튼 부분 */
.btn-area{
  margin-top:30px;
}
/* 로그인 버튼 배경색:초록, 글씨:흰색, 마우스 커서 모양 지정*/
.btn-area button{
  width:100%;
  height:50px;
  background:rgba(53, 201, 102, 0.986);
  color:white;
  font-size:20px;
  border:none;
  border-radius: 25px;
  cursor:pointer;
}
/* 비밀번호 찾기 버튼 */
.caption{
  margin-top:20px;
  text-align:center;
}
/* 비밀번호 밑줄 없앰,글씨 색:흰색 */
.caption a{
  font-size:15px;
  color:white;
  text-decoration: none;
}